html {
  color: #222;
  font-size: 1rem;
  font-family: verdana, sans-serif;
  line-height: 1.4;
}

#regex-test-result {
  color: purple;
  font-size: 2rem;
}

#regex-test-content {
  border: 1px solid #999;
  height: 300px;
  width: 600px;
  padding: 10px;
}

#regex-test-content::selection {
  background-color: maroon;
  color: white;
}