*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: verdana, sans-serif;
  line-height: 1.4;
}

body {
  background-color: #000;
  margin: 0;
  padding: 10px;
}

h1 {
  padding: 10px;
  margin: 0;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  float: left;
  padding: 10px;
}

img {
  height: 200px;
  width: 200px;
}

#regex-test {
  display: none;
  padding: 2rem;
  width: 75%;
  margin: .5rem auto;
}

#regex-test-result {
  text-align: center;
  color: #999;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#regex-test-content {
  border: 1px solid #999;
  background-color: #fff;
  min-height: 100px;
  box-shadow: inset 0 0 2rem rgba(0,0,0,.20);
  padding: 1rem;
}

#regex-test-content:focus {
  outline: none;
}
